@charset "UTF-8";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background: lightcoral;
}
h1{
    color: chocolate;

}
h2{
    color: blueviolet;
}

p{
    text-align: justify;
}